<!DOCTYPE html>
<html lang="en-US">
	<head>
		{% include './Bits/MetaHead.html' %}
		<title>Invisiball: The FPS With A Twist! | Finalize</title>

		{% include './Bits/CssHead.html' %}
		<link href="/Css/Finalize.css" rel="stylesheet">

		{% include './Bits/JsHead.html' %}
	</head>
	<body>
		{% include './Bits/Navigation.html' %}
		<div class="container">
			<h1>Invisiball - Finalize</h1>
			<h3 id="error">{{Err}}</h3>
			<div id="form-container">
				Final Username: <input type="text" class="form-control">
				<br>
				<button type="submit" class="btn btn-default">Finalize</button>
			</div>
		</div>
		<script src="/Js/Finalize.js"></script>
	</body>
</html>
