<!DOCTYPE html>
<html lang="en-US">
	<head>
		{% include './Bits/MetaHead.html' %}
		<title>Invisiball: The FPS With A Twist! | Leaderboard</title>

		{% include './Bits/CssHead.html' %}
		<link href="/Css/Leaderboard.css" rel="stylesheet">

		{% include './Bits/JsHead.html' %}
	</head>
	<body>
		{% include './Bits/Navigation.html' %}
		<div class="container">
			<h1>Invisi<i>leaders</i>:</h1>
			<br>
			{% if ThereAreNotUsers %}
				<h3>No players yet!</h3>
			{% else %}
				<div id="searchdiv">
					<input id="search" placeholder="Search Global User Database" class="form-control">
					<button id="searchbtn" type="submit" class="btn btn-default" onclick="query($('#search').val());">Search!</button>
				</div>
				<br> <br>
				<table class="table table-hover">
					<thead>
						<tr>
							<th data-sortable="true">#</th>
							<th data-sortable="true">Invisi<i>player</i></th>
							<th data-sortable="true">Invisi<i>kills</i></th>
							<th data-sortable="true">Invisi<i>deaths</i></th>
							<th data-sortable="true">Invisi<i>shots</i></th>
							<th data-sortable="true">Invisi<i>accuracy</i></th>
							<th data-sortable="true">Invisi<i>KDR</i></th>
						</tr>
					</thead>
					<tbody>
						{% for User in Users %}
							<tr>
								<td>{{User.Place}}</td>
								<td><a href="/Profile/{{User.Username}}">{{User.Username}}</a></td>
								<td>{{User.Kills}}</td>
								<td>{{User.Deaths}}</td>
								<td>{{User.Shots}}</td>
								<td>{{User.Accuracy}}%</td>
								<td>{{User.Kdr}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
		<script src="/Js/Leaderboard.js"></script>
	</body>
</html>
