<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Invisiball: The FPS With A Twist! | Home</title>
		{% include './Bits/CssHead.html' %}
		<link href="/Css/Main.css" rel="stylesheet">
		{% include './Bits/JsHead.html' %}
	</head>
	<body>
		{% include './Bits/Navigation.html' %}
		<div class="container">
			<h1>Invisiball - Home</h1>
			<h3 id="error">{{Err}}</h3>
			{% if IsAuthenticated %}
				<button type="submit" class="btn btn-default" style="margin-left: 10px;"><a href="/Me/Logout">Logout</a></button>
				<h1>Rooms: </h1>
				{% if RoomsAreAvailable %}
					{% for Room in Rooms %}
						{% if Room.IsProtected %}
							<img src="/Images/Lock.png" style="height: 30px;">
						{% endif %}
						<button type="submit" class="btn btn-default"><a href="/Play/{{Room.Name}}">{{Room.Name}}</a></button> {{Room.PlayerNumber}}
					{% endfor %}
					<br><br>
				{% else %}
					<b>No rooms.</b> <br>
				{% endif %}
				<p>{% if RoomsAreAvailable %}Or create{% else %}Create{% endif %} a new one:<small> <i>(Press "ENTER" when done customizing.)</i></small></p>
				<input id="room" type="text" class="form-control" placeholder="Room Name" style="display: inline-block;">
				<input id="password" type="password" class="form-control" placeholder="Password" style="display: inline-block;">
				<input id="max_players" type="text" class="form-control" placeholder="Max Player #" style="display: inline-block;">
			{% else %}
				<button type="submit" class="btn btn-default"><a href="/Auths/Google">Login With Google</a></button>
				<button type="submit" class="btn btn-default" title="We leave your wall alone. Literally."><a href="/Auths/Facebook">Login With Facebook</a></button>
				<button type="submit" class="btn btn-default"><a href="/Auths/Twitter">Login With Twitter</a></button>
			{% endif %}
		</div>
		{% if IsAuthenticated %}
			<script src="/Js/Main.js"></script>
		{% endif %}
	</body>
</html>
