<!DOCTYPE html>
<html lang="en-US">
	<head>
		{% include './Bits/MetaHead.html' %}
		<title>Invisiball: The FPS With A Twist! | Maintenance</title>

		{% include './Bits/CssHead.html' %}

		{% include './Bits/JsHead.html' %}
	</head>
	<body>
		<div class="container">
			<h1>Invisiball - Maintenance</h1>
			<blockquote>
				<p>
					Unforunately, maintenance has started.
					Don't worry though, it won't take that long!
					Want to know what I do during maintenance?
					First, I stop all games, connections, and loading pages.
					Then I re-sort the user database.
					If everything goes, well, I send the maintenance log to the admin.
					Want to see exactly what I'm doing?
					Click this <a href="https://github.com/usandfriends/Invisiball/blob/master/server.js#L500">link</a> to find out!</p>
				<footer>Invisiball Maintenance Bot</footer>
			</blockquote>
	</body>
</html>
